/* Создаем селектор для класса NotFound, который применяется к корневому элементу компонента */
.NotFound {
  /* Добавляем фоновый цвет, который соответствует цвету логотипа */
  background-color: #f4f4f4;
  /* Добавляем внутренние отступы для создания пространства вокруг содержимого */
  padding: 20px;
  /* Добавляем внешние отступы для создания пространства вокруг компонента */
  margin: 20px;
  /* Добавляем тень для создания эффекта глубины */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Создаем селектор для заголовка h1, который содержит сообщение об ошибке */
  .NotFound h1 {
  /* Добавляем цвет текста, который соответствует цвету логотипа */
  color: #00a6a6;
  /* Добавляем шрифт, который соответствует шрифту логотипа */
  font-family: 'Baloo Bhai', cursive;
  /* Добавляем размер шрифта, который подходит для заголовка */
  font-size: 36px;
  /* Добавляем выравнивание текста по центру */
  text-align: center;
  }

  /* Создаем селектор для абзацев p, которые содержат дополнительную информацию об ошибке */
  .NotFound p {
  /* Добавляем цвет текста, который соответствует цвету логотипа */
  color: #00a6a6;
  /* Добавляем шрифт, который соответствует шрифту логотипа */
  font-family: 'Baloo Bhai', cursive;
  /* Добавляем размер шрифта, который подходит для текста */
  font-size: 24px;
  /* Добавляем выравнивание текста по центру */
  text-align: center;
  }

  /* Создаем селектор для ссылки, которая содержит переход на главную страницу */
  .NotFound link {
  /* Добавляем цвет текста, который соответствует цвету логотипа */
  color: #00a6a6;
  /* Добавляем шрифт, который соответствует шрифту логотипа */
  font-family: 'Baloo Bhai', cursive;
  /* Добавляем размер шрифта, который подходит для ссылки */
  font-size: 24px;
  /* Добавляем выравнивание текста по центру */
  text-align: center;
  /* Добавляем анимацию, которая меняет цвет текста при наведении курсора */
  transition: color 0.3s;
  }

  /* Создаем селектор для ссылки, которая содержит переход на главную страницу, при наведении курсора */
  .NotFound link:hover {
  /* Добавляем цвет текста, который соответствует цвету фона */
  color: #f4f4f4;
  }
