.NotFound {
	background-color: rgba(234, 223, 249, 0.5);
	padding: 10px 10px 50px 10px;
	width: 600px;
  height: fit-content;
	border-radius: 10px;
	box-shadow: -4px -2px 10px black;
}

.NotFound h1 {
  margin-top: 70px;
	color: rgb(215, 2, 2);
	font-family: 'Baloo Bhai', cursive;
	font-size: 36px;
	text-align: center;
}

.NotFound p {
	color: rgb(215, 2, 2);
	font-family: 'Baloo Bhai', cursive;
	font-size: 24px;
	text-align: center;
}

.NotFound link {
	color: #027979;
	font-family: 'Baloo Bhai', cursive;
	font-size: 24px;
	text-align: center;
	transition: color 0.3s;
}

.NotFound link:hover {
	color: #f4f4f4;
}

.center {
	display: flex;
	font-size: 1.5rem;
	font-weight: 600;
	justify-content: center;
	padding-top: 40px;
}

.center:hover {
	opacity: 0.8;
}
