.Category {
	background-color: rgba(234, 223, 249, 0.5);
	padding: 10px 10px 1px 10px;
	width: 600px;
  height: fit-content;
	border-radius: 10px;
	box-shadow: -4px -2px 10px black;
	font-size: 1.25rem;
}

.Category form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
}

.Category img {
	transition: transform 0.3s;
	border: 1px solid #084949;
	border-radius: 10px;
	box-shadow: -4px -2px 10px black;
}
