/* Создаем селектор для класса Home, который применяется к корневому элементу компонента */
.Home {
	/* Добавляем фоновый цвет, который соответствует цвету логотипа */
	background-color: rgba(185, 87, 87, 0.5);
	/* Добавляем внутренние отступы для создания пространства вокруг содержимого */
	padding: 10px 10px 1px 10px;
	/* Добавляем внешние отступы для создания пространства вокруг компонента */
	/* Добавляем тень для создания эффекта глубины */
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* Создаем селектор для заголовка h1, который содержит приветствие */
.Home h1 {
	/* Добавляем цвет текста, который соответствует цвету логотипа */
	color: #00a6a6;
	/* Добавляем шрифт, который соответствует шрифту логотипа */
	font-family: 'Baloo Bhai', cursive;
	/* Добавляем размер шрифта, который подходит для заголовка */
	font-size: 36px;
	/* Добавляем выравнивание текста по центру */
	text-align: center;
}

/* Создаем селектор для изображения img, которое содержит логотип */
.Home img {
	/* Добавляем выравнивание изображения по центру */
	display: block;
	margin: 0 auto;
	/* Добавляем анимацию, которая поворачивает изображение по кругу */
	animation: spin 3s linear infinite;
}

/* Создаем ключевые кадры для анимации spin */
@keyframes spin {
	/* Устанавливаем начальное состояние анимации, когда изображение не повернуто */
	0% {
		transform: rotate(0deg);
	}
	/* Устанавливаем конечное состояние анимации, когда изображение повернуто на 360 градусов */
	100% {
		transform: rotate(360deg);
	}
}
