.app {
	text-align: center;
}

.appHeader {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	color: #282c34;
}

h1 {
	color: bisque;
  font-size: 4rem;
  text-shadow:-4px 6px 5px rgb(134, 1, 1);
}

h4 {
	text-decoration: underline;
}
